body {
    font-family: Arial, sans-serif;
    margin: 100;
    padding: 100;
    background-color: rgb(87, 81, 81);
}

header {
    background-color:  rgb(87, 81, 81);
   margin: 2%;
}

nav {
    background-color: #989fe8;
    padding: 10px 20px;
    margin-left: 3%;
    margin-top: 5%;
    width: 90%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: ffffff; 
}


main {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.content {
    flex: 3;
    background-color: rgb(218, 149, 149);
    color: #ffffff;
    padding: 20px;
    margin-right: 20px;
}

.content article {
    margin-bottom: 20px;
}

.sidebar {
    flex: 1;
    background-color: #989fe8;;
    padding: 20px;
    color: white;
    
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}